<footer id="main">
<nav>
    <div class="footer">
       
        &copy;                 
           <button><a href="tel:+46762316606">Call me</a></button>
           <button><a href="mailto:poar21tp@student.ju.se">E-mail me</a></button>
           <button><a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile">LinkedIn</button></a>
    </div>
</nav>
</footer>