<header id="menu">
    <div>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/Education"> Education </a></li>
            <li><a href="/experience"> projects </a></li>
        </ul>
    </div>
</header>
