<header id="menu">
    <div class="left-menu">
        <ul>
            <li><a href="/"> About Me </a></li>
            <li><a href="/Education"> Education </a></li>
            <li><a href="/experience"> Experience </a></li>
            <li><a href="/contact"> Contact Me </a></li>
        </ul>
    </div>
    <div class="right-menu">
        <ul>
             {{#if isLoggedIn}}
             <div class="to-the-right">
                    Hi, {{name}}! &nbsp; &nbsp;
                     <li><a href="/logout"> Logout </a></li>
             </div>
               
             {{else}}
                <li><a href="/login"> Login </a></li>
            {{/if}}
        </ul>
    </div>
</header>
