<header id="menu">
    <div>
        <ul>
            <li><a href="/about"> About Me </a></li>
            <li><a href="/background"> Background </a></li>
            <li><a href="/posts"> Posts </a></li>
            <li><a href="/"> Home </a></li>
            {{#if isLoggedIn}}
            <li><a href="/logout"> Logout </a></li>
            {{else}}
            <li><a href="/login"> Login </a></li>
            {{/if}}
            <li><a href="/projects"> Project Gallery </a></li>
            <li><a href="/resume"> Resume </a></li>
            <li><a href="/contact" class="contact-page"> Contact </a></li>
        </ul>
    </div>
</header>