<div id="about">
    <div class="about-box" id="aboutBox1">
        <h1>
            About Me
        </h1>
        <p>
            Hello everyone, my namne is Arya, born 1995 in Caspian in Iran, grew up in Sweden 
            and now I study to become a engineer :D
        </p>
    </div>
</div>