            <div class="intro-section">
                
                    <button><a href="mailto:poar21tp@student.ju.se" target="_blank">For sending e-mail please press me.<img src="/img/email.jpg" alt="email" height="100"></a></button>            

                    <button><a href="tel:+46762316606" target="_blank">For phone call please press me.<img src="/img/call.png" alt="call" height="100"></a></button>            
                </div>
                
                
            



