            <div class="intro-section">
                <div class="text">
                    <button><a href="mailto:poar21tp@student.ju.se" target="_blank"><h1>Send mail</h1></a></button>            
                </div>
                <div class="image">
                    <img src="/img/email.jpg" alt="email">
                </div>
            </div>
            <div class="intro-section">
                <div class="text">
                    <button><a href="tel:+46762316606" target="_blank"><h1>Call me</h1></a></button>            
                </div>
                <div class="image">
                    <img src="/img/call.png" alt="call">
                </div>
            </div>



