<div id="contact">
    <div class="contact-box" id="box1">
        <h5>Reach out if you want to create amazing projects together.</h5>
        <hr>
        <h6>TO SEE MORE OF MY WORK VISIT MY SOCIALS:</h6>
        <div class="social-info"></div>
    </div>
    <div class="contact-box" id="box2">
        <div class="contact-info">
            <span>EMAIL</span>
            <p>&#9993; poar21tp@student.ju.se</p>
        </div>
        <div class="contact-info">
            <span>nr: </span>
            <p>&phone; +46 76 23 16 606</p>
        </div>
    </div>
</div>

