 <div id="main">
        <div class="container">
            <h1>About Me</h1>
            <div class="box1">
                <img src="../img/pro-page.jpg" alt="Profile Image" height="300" class="propic">
                <div class="about-text">
                    <p class="proText"> 
                        Hello! My name is Arya. I am a passionate developer and love creating beautiful and functional websites.
                        I have experience in HTML, CSS, JavaScript, and much more. Crafting amazing user experiences is my driving force.
                        When I'm not coding, I enjoy exploring nature and reading a good book.
                    </p>
                </div>
            </div>
        </div>
    </div>