<div id="main">
    <div "proText">
        <h1>Home</h1>
        <p>
           My pleasure to guide you true my page.
            <br><br>
            <h3>my name is Arya and welcome to my page</h3>
        </p>
            <br><br>
            <h5>Make sure to contact me if you need me on your project :D</h5>
    </div>
</div>
