<div id="main">
    <div id="hem">
        <h1>Hello,&nbsp</h1>
        <h2>Dear reader!!</h2>
        <div>
            <h3>
                Let me introduce you to who I am.
            </h3>
            <div class="intro-section">
                <div class="text">
                    <h1>My name is Arya, born in 1995 in Caspian, North of Iran.</h1>
                </div>
                <div>
                    <img src="/img/iran.jpg" alt="Rasht" height="100">
                </div>
            </div>
            <div class="intro-section">
                <div class="text">
                    <h2>I came to Sweden 2009 as a 14-years-old boy.</h2>
                </div>
                <div>
                    <img src="/img/immigrate.webp" alt="country" height="100">
                </div>
            </div>
            <div class="intro-section">
                <div class="text">
                    <h3>When I came to Sweden, I decided to become something and make my family proud of me, so I started
                        studying <a href="/Education">(educations)</a> and worked at different jobs <a href="/experience">(experience)</a>
                    </h3>
                </div>
                <div>
                    <img src="/img/study.webp" alt="country" height="100">
                </div>
            </div>
        </div>
        <h6>Languages: </h6>
        <div id="language">   
            <img src="/img/iran.webp" alt="iran" height="100"> Persian<img src="/img/sweden.png" alt="sweden" height="100"> Swedish
       <img src="/img/usa.png" alt="usa" height="100"> English
        </div>
       
       
    </div>
</div>
