<div id="main">
    <div class="wrapper">
        <form action="/login" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <label for="un"  class='bx bxs-user'>Username:</label>
                    <input type="text" name="un" id="un" required="required">
                    
            </div>
            <div class="input-box">
                <label for="pw" class='bx bxs-lock-alt'>Password: </label>
                    <input type="password" name="pw" id="pw" required="required">
                    
            </div>
                <input type="submit" value="Login">
             </form>       
            </div>        
      </div>             
                
                
            
        
