<div id="main">
    <div id="logout">
        <h1>Logout</h1>
        <div>
            <form action="/logout" method="get">
                <input type="submit" value="Logout">
            </form>
        </div>
    </div>
</div>
