<div id="main">
    <div>
        <h1>New Experience</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/Education/new" method="post">
                        <fieldset>
                            
                            <label for="educname">Experience Name: </label>
                            <input type="text" name="expname" id="expname" required="required">
                            <br />
                            <label for="expyear"> Experience year: </label>
                            <input type="number" name="expyear" id="expyear" placeholder="2023" required="required">
                            <br />
                            <textarea name="expdesc" id="expdesc" cols="30" rows="10" required="required"></textarea>
                            <br />
                            <label for="exptype">Experience type: </label>
                                <select name="exptype" id="eductype" required="required">
                                    <option value="Research">Research</option>
                                    <option value="Education">Education</option>
                                    <option value="Other">Other</option>
                                </select>
                                <br />
                                <label for="expimg">Education image URL: </label>
                                <input type="text" name="expimg" id="expimg" placeholder="/img/" required="required">
                                <br />
                        </fieldset>
                        <input type="submit" value="Add education">
                    </form>
                    {{else}}
                    <p>Sorry, you must be an administrator to add a new Education!</p>
                    {{/if}}
                {{else}}
                <p>
                    Sorry, you must be logged in to add a new Education! <br />
                    Please go to the <a href="/login"></a> page.
                </p>
                {{/if}}
            </div>
    </div>
</div>