<div id="main">
    <div>
        <h1>New Education</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/Education/new" method="post">
                    <fieldset>
                        <label for="educname">Education name: </label>
                        <input type="text" name="educname" id="educname" required="required">
                        <br />
                        <label for="educyear" > Education yeR</label>
                        <input type="number" name="educyear" id="educyear" placeholder="2023" required="required">
                        <br />
                        <textarea name="educdesc" id="educdesc" cols="30" rows="10" required="required"></textarea>
                        <br />
                        <label for="eductype">Education type: </label>
                        <select name="eductype" id="eductype" required="required">
                            <option value="Research">Research</option>
                            <option value="Education">Education</option>
                            <option value="Other">Other</option>
                        </select>
                        <br />
                        <label for="educimg">Education image URL: </label>
                        <input type="text" name="educimg" id="educimg" placeholder="/img/" required="required">
                        <br />
                    </fieldset>
                    <input type="submit" value="Add Education">
                    </form>
                    {{else}}
                    <p>Sorry, you must be an adminitrator to add a new project!</p>
                    {{/if}}
                    {{else}}
                    <p>
                        Sorry, you must be logged in to add a new Education! <br />
                        Please go to the <a href="/login">Login</a> page.
                    </p>
                    {{/if}}
        </div>
    </div>
</div>