<div id="main">
    <div>
        <h1>New skills</h1>
        <div>
            {{#if isLoggedIn}}
                {{#if isAdmin}}
                    <form action="/skills/new" method="post">
                        <fieldset>
                            
                            <label for="skiname">skills Name: </label>
                            <input type="text" name="skiname" id="skiname" required="required">
                            <br />
                            <label for="skiyear"> skills year: </label>
                            <input type="number" name="skiyear" id="skiyear" placeholder="2023" required="required">
                            <br />
                            <textarea name="skidesc" id="skidesc" cols="30" rows="10" required="required"></textarea>
                            <br />
                            <label for="skitype">Skills type: </label>
                                <select name="skitype" id="skitype" required="required">
                                    <option value="General-Purpose Languages">General-Purpose Languages</option>
                                    <option value="Web Development">Web Development</option>
                                    <option value="Database Management">Database Management</option>
                                    <option value="Scripting Languages">Scripting Languages</option>
                                </select>
                                <br />
                                <label for="skiimg">Skills image URL: </label>
                                <input type="text" name="skiimg" id="skiimg" placeholder="/img/" required="required">
                                <br />
                        </fieldset>
                        <input type="submit" value="Add skills">
                    </form>
                    {{else}}
                    <p>Sorry, you must be an administrator to add a new skills!</p>
                    {{/if}}
                {{else}}
                <p>
                    Sorry, you must be logged in to add a new skills! <br />
                    Please go to the <a href="/login"></a> page.
                </p>
                {{/if}}
            </div>
    </div>
</div>