* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#main {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 96px;
    margin-top: 32px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 10px;
    

  
}
#main h1{
    margin-bottom: 20px;
}
button{
    background: rgba(0, 0, 0, 0.4);
}
/*______________________________________________footer_______________________________________________________*/

/*______________________________________________body_______________________________________________________*/
body {
    font-family: Arial, sans-serif;
    background: url('../img/bgroundPic.gif') no-repeat fixed top center / cover;
    background-color: #f4f4f4; /* Bakgrundsfärg om bakgrundsbilden inte laddas */
    margin: 0;
    padding: 20px;
}
/*______________________________________________card_______________________________________________________*/
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    margin: 40px;
}
.card-content {
    padding: 10px;
    flex-grow: 1;
}
.container{
    padding: 20px;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.column {
    width: 48%;
    box-sizing: border-box;
}
.card-image img {
    width: 70%;
    height: auto; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 10%;
}

.card-image img:hover {
    box-shadow: 40px 40px 200px rgba(227, 4, 4, 0.5);
    transform: scale(1.05);
}


.card-header {

    padding: 20px;
    text-align: center;

}

.card-title {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.card-actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
.card-actions a:hover {
    color: #e74c3c;
}
.card-subtitle {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 10px;
    
}
.card .card-subtitle h5#description {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}

/* Gemensam stil för knappar */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Stil för länkknapp */
.btn-link {
    color: #3498db;
    background-color: transparent;
}

.btn-link:hover {
    text-decoration: underline;
}



/* Stil för modifieringsknapp */
.btn-modify {
    color: #fff;
    background-color: #27ae60;
}

.btn-modify:hover {
    background-color: #219d54;
}

/* Stil för raderingsknapp */
.btn-delete {
    color: #fff;
    background-color: #e74c3c;
}

.btn-delete:hover {
    background-color: #d62c1a;
}
/* Stil för knappen New Experience */
.btn-new-experience {
    color: #fff;
    background-color: #8e44ad;
}

.btn-new-experience:hover {
    background-color: #731f8c;
}



#description{
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}
/*______________________________________________h1,2,3,4,5,6_______________________________________________________*/
h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: white;
}
h4, h5, div {
    margin: 0;
    padding: 0;
    color: red;
}
h6, p {
    margin: 0;
    padding: 0;
    color: moccasin;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}
/*__________________________________________ul______________________________________________*/
#menu {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
}

.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left-menu li {
    margin-right: 10px;
}

.left-menu li:last-child {
    margin-right: 0;
}

.left-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.left-menu a:hover {
    background-color: #555;
}

.right-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right-menu li {
    margin-left: 10px;
}

.right-menu li:first-child {
    margin-left: 0;
}

.right-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.right-menu a:hover {
    background-color: #555;
}
/*__________________________________________login_______________________________________*/

.wrapper h1 {
    color: #e50914;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 16px;
    box-shadow: 0px -1px 10px green;
}

.input-box label {
    color: white;
    display: block;
    margin-bottom: 5px;
   
}

.input-box input {
    width: calc(100% - 40px);
    height: 40px;
    background-image: url('/img/bgroundPic.gif');
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    color: red;
    padding: 10px 20px;
    box-shadow: 0 1px 10px green;
}

.input-box input::placeholder {
    color: green;
    
    
}

input[type="submit"] {
    width: 100%;
    height: 45px;
    background: #e50914;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 600;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background: #e50924;
    color: white;
    transform: scale(1.1);
    box-shadow: 20px 30px 10px blue;
}

/*_______________________________________contact________________________________*/
.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background-color: none;
    padding: 20px;
  }
  
  .Menu .toggle {
    display: none;
  }
  
  .Menu li {
    list-style-type: none;
    margin-bottom: 10px; 
  }
  
  .Menu li a {
    color: greenyellow;
    text-decoration: none;
    font-size: 76px;
  }
  
  .Menu li a ion-icon {
    font-size: 56px;
    transition: transform 0.3s, box-shadow 0.5s;
  }
  
  .Menu li a ion-icon:hover {
    transform: scale(1.7);
    box-shadow: 25px 25px 10px red;
  }
  
  @media (max-width: 1024px) {
    .Menu .toggle {
      display: block;
      cursor: pointer;
    }
    
    .Menu li {
      display:inline;
      margin: 0 20px;
    }
    
    .Menu li a {
      padding: 10px 20px;
    }
  }
  
  @media (min-width: 375px) {
    .Menu .toggle {
      display: inline;
    }
    
    .Menu li {
      display: inline-block;
      margin: 0 20px;
    }
  }
  
/*_______________________________home__________________________________*/
/* Stil för sektionen med text och bild */
.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Lite mellanrum mellan sektionerna */
    
}

/* Stil för text */
.intro-section .text {
    width: 60%;
    background: rgba(0, 0, 0, 0.4);
}

/* Stil för bild */
.intro-section .image img {
    max-width: 50%;
    height: 3cm;
    margin: auto;
}

@media (max-width: 700px){
    .intro-section{
        flex-direction: column;
        align-items: flex-start;
    }
    .intro-section .text{
        width: 100%;
    }
}
/*____________________________________________menu_____________________________----______*/
.menu-toggle {
    display: none;
}

.menu-icon {
    cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 700px) {
    .left-menu ul, .right-menu ul {
        display: none;
    }

    .menu-toggle:checked + #menu .left-menu ul,
    .menu-toggle:checked + #menu .right-menu ul {
        display: flex;
    }

    .menu-toggle:checked + #menu .menu-icon::after {
        content: '\2715'; /* X symbol */
    }
}
/*
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
}
.left-menu ul, .right-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.left-menu li, .right-menu li {
    display: inline;
    margin-left: 10px;
    
}
.left-menu a, .right-menu a {
    color: white;
    text-decoration: none;
}
.to-the-right {
    display: flex;
    align-items: center;
}
@media (max-width: 700px){
    .left-menu, .right-menu {
    display: none;
    }
}
#menu {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}
#menu .right-menu {
    display: flex;
    justify-content: space-between;
    order: -1;
    width: 100%;
    margin-top: 10px;
}
*/
#language{
    border: 1px solid none;
    color: snow;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.7);
}
#hem{
    background-color: rgba(0, 0, 0, 0.7);
}
#avs{
    margin: 0 0 27px 14px;
}
.text{
    background: rgba(0, 0, 0, 0.4);
}