* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#main {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 96px;
    margin-top: 32px;
    box-sizing: content-box;
    /*border: 3px solid gray;*/
}
/*______________________________________________footer_______________________________________________________*/
/* Footer styling */
footer#main {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

/* Footer navigation styling */
footer#main nav {
    
    display: flex;
    justify-content: center;
}
.footer .btn {
    background-color: transparent;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer .btn:hover {
    background-color: transparent;
}

.footer .btn a {
    text-decoration: none;
    color: transparent;
}

.footer .btn a:hover {
    text-decoration: none;
    color: transparent;
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: rgba(255, 0, 0, 0.8);
}
/* Styling för knapparna i footern */
.footer button {
    background-color: none;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: none;
    color: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer button:hover {
    background-color: none;
}

/* Styling för länkarna i knapparna */
.footer button a {
    text-decoration: none;
    color: none;
}

.footer button a:hover {
    text-decoration: none;
    color: none;
}

/* Anpassa texten i footern */
.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}
/*______________________________________________body_______________________________________________________*/
body {
    font-family: Arial, sans-serif;
    background: url('../img/bgroundPic.gif') no-repeat fixed top center / cover;
    background-color: #f4f4f4; /* Bakgrundsfärg om bakgrundsbilden inte laddas */
    margin: 0;
    padding: 20px;
}
/*______________________________________________card_______________________________________________________*/
.card {
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 20 30 10px rgba(227, 4, 4, 0.5);
    border: none;
}
.columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.column {
    padding: 15px;
}
.card-image img {
    width: 100%;
    height: auto; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 10%;
}

.card-image img:hover {
    box-shadow: 40px 40px 200px rgba(227, 4, 4, 0.5);
    transform: scale(1.05);
}


.card-header {

    padding: 20px;
    text-align: center;

}

.card-title {
    color: rgb(59, 250, 1);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.card-actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
.card-actions a:hover {
    color: #e74c3c;
}
.card-subtitle {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 10px;
    
}

/* Gemensam stil för knappar */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

/* Stil för länkknapp */
.btn-link {
    color: #3498db;
    background-color: transparent;
}

.btn-link:hover {
    text-decoration: underline;
}



/* Stil för modifieringsknapp */
.btn-modify {
    color: #fff;
    background-color: #27ae60;
}

.btn-modify:hover {
    background-color: #219d54;
}

/* Stil för raderingsknapp */
.btn-delete {
    color: #fff;
    background-color: #e74c3c;
}

.btn-delete:hover {
    background-color: #d62c1a;
}
/* Stil för knappen New Experience */
.btn-new-experience {
    color: #fff;
    background-color: #8e44ad;
}

.btn-new-experience:hover {
    background-color: #731f8c;
}



#description{
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}
/*______________________________________________h1,2,3,4,5,6_______________________________________________________*/
h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.8); /* Justera textens färg och genomskinlighet här */
    background: rgba(0.4, 2, 10, 0.5); /* Justera bakgrundens färg och genomskinlighet här */
    padding: 10px; /* Justera önskad padding */
    border-radius: 10px; /* Rundade hörn för bakgrunden */
    font-family: 'Times New Roman', Times, serif;
}
/*__________________________________________ul______________________________________________*/
#menu {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
}

.left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.left-menu li {
    margin-right: 10px;
}

.left-menu li:last-child {
    margin-right: 0;
}

.left-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.left-menu a:hover {
    background-color: #555;
}

.right-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right-menu li {
    margin-left: 10px;
}

.right-menu li:first-child {
    margin-left: 0;
}

.right-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.right-menu a:hover {
    background-color: #555;
}
/*_________________________________________________________________________________*/

#login {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent mörk bakgrundsfärg */
    border-radius: 10px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Ljus skugga */
    text-align: center;
}

#login h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff; /* Vit textfärg */
}

#login form {
    display: flex;
    flex-direction: column;
}

#login form fieldset {
    border: none;
    margin-bottom: 10px;
}

#login form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #fff; /* Vit textfärg */
}

#login form input[type="text"],
#login form input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #2b2b2b; /* Lite ljusare kantlinje */
    margin-bottom: 10px;
    background-color: #333; /* Lite ljusare bakgrundsfärg för input */
    color: #fff;
}

#login form input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login form input[type="submit"]:hover {
    background-color: #c70010;
}
/*_______________________________________contact_________________________________*/
.Menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: none;
    padding: 20px;
  }
  
  .Menu .toggle {
    display: none;
  }
  
  .Menu li {
    list-style-type: none;
    margin-bottom: 10px; /* Lägger till mellanrum mellan ikonerna */
  }
  
  .Menu li a {
    color: greenyellow;
    text-decoration: none;
    font-size: 76px;
  }
  
  .Menu li a ion-icon {
    font-size: 56px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .Menu li a ion-icon:hover {
    transform: scale(1.7);
    box-shadow: 25px 25px 10px red;
  }
  
  @media (max-width: 768px) {
    .Menu .toggle {
      display: block;
      cursor: pointer;
    }
    
    .Menu li {
      display: none;
      text-align: center;
    }
    
    .Menu li a {
      display: block;
      padding: 10px 0;
    }
  }
  
  @media (min-width: 769px) {
    .Menu .toggle {
      display: none;
    }
    
    .Menu li {
      display: inline-block;
      margin: 0 50px;
    }
  }
  
/*_______________________________home__________________________________*/
/* Stil för sektionen med text och bild */
.intro-section {
    display: flex;
    align-items: center; /* Centrera vertikalt */
    margin-bottom: 20px; /* Lite mellanrum mellan sektionerna */
}

/* Stil för text */
.intro-section .text {
    flex: 1; /* Tar upp tillgänglig plats */
    padding: 0 20px; /* Lite mellanrum mellan text och bild */
    background-color: rgba(255, 255, 255, 0.7); /* Lätt genomskinlig vit bakgrund för text */
    border-radius: 10px; /* Rundade hörn */
}

/* Stil för bild */
.intro-section .image img {
    height: 300px;
    opacity: 0.5; /* Genomskinlighet för bilden */
}
